.card-header {
    height: 200px;
}

.weather-city {
    color: #666;
    font-size: 1.3em;
    font-weight: 500;
}

.weather-temp {
    color: #f4f4f4;
    font-size: 4em;
    font-weight: 900;
}

.weather-description {
    color: #555;
    font-size: 1em;
    font-weight: 400;
}

.weather-more {
    color: #555;
    font-size: 1.2em;
    font-weight: 400;
}